<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="included/head"></head>
<body>

<section class="navbar navbar-fixed-top custom-navbar" th:include="included/navbar"></section>

<section id="client">
    <div class="container wow animated bounceIn">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <input type="text" id="name" th:placeholder="${client.name}" class="sign-input" readonly="readonly"/>
            </div>
            <div class="col-md-2">
                <a href="/contact"><i class="fa-envelope-o fa fa-5x big_scale_animated"></i></a>
            </div>
            <div class="col-sm-12 col-md-5">
                <input type="text" id="address" th:placeholder="${client.address}" class="sign-input"
                       readonly="readonly"/>
            </div>

        </div>
    </div>
</section>

<section id="accounts">
    <div class="container">
        <div class="row">
            <div class="wow bounceInRight animated ">
                <ul th:each="account : ${accounts}">
                    <li class="col-sm-8 col-sm-offset-2 col-md-offset-1 col-md-4 col-md-offset-1 scale_animated">
                        <div class="account"
                             th:onclick="'statement(\'' + ${account.num} + '\', ' + ${account.getCurrent()} + ')'">
                            <img src="images/credit-card.png" class="main-img"/>
                            <div>
                                <h4 class="num" th:text="'Account : ' + ${account.num}"></h4>
                            </div>
                            <i th:if="${account.getCurrent()}" class="fa fa-check fa-5x current"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-offset-4 col-md-4">
                <i class="fa fa-plus-circle fa-5x _controller big_scale_animated" id="open-account-btn"></i>
            </div>
        </div>
    </div>
</section>
<section id="result" th:include="included/result"></section>

<section id="statement">
    <div>
        <h1>Account</h1>
        <hr/>
        <h2 class="title">Account <span id="account-num"></span>, balance <span id="balance"></span> </h2>
        <div>
            <button id="current-setter-btn" class="btn btn-white" onclick="markAccountAsCurrent()">Set As Current</button>
        </div>
        <hr/>
    </div>
    <div id="mov" class="container"></div>
</section>

<section id="confirmation" th:include="included/confirm"></section>
<footer id="footer" th:include="included/footer"></footer>

<script src="js/library/jquery-1.11.1.min.js"></script>
<script src="js/library/bootstrap.min.js"></script>
<script src="js/offer.js"></script>
<script src="js/transaction.js"></script>
<script src="js/accounts.js"></script>
<script src="js/request.js"></script>
<script src="js/common.js"></script>

</body>
</html>